body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', 'Verdana', 'Tahoma', 'Geneva', sans-serif;
  font-smoothing: antialiased;
}

code {
  font-family: 'Courier', 'Courier New', monospace;
}
